*{
    font-family: calibri;
    box-sizing: border-box;
    /*background: #333;*/
    color: #fff9;
    border-color: #fff;
}
body{
    margin: 0;
    font-family: calibri;
    box-sizing: border-box;
    background: #333;
    color: #fff9;
    border-color: #fff;
}
.copyright{
    opacity: 0.6;
}








#main{
    float: left;
    width: 100%;
}
.menu{
    position: fixed;
    top: 0px;
    width: 100%;
    transition: 2s;
}
.menu ul li{
    width: 25%;
}
.menu ul li a{
    color: white;
    background: #500;
}
.menu ul li a:hover{
    background: rgb(0, 182, 249);
}




.container{
    width: 1200px;
}
.header .imgdiv{
    margin: auto 0;
}
.header .imgdiv .img{
    /*padding: 20px 0;*/
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
.header .h1{
    padding: 20px;
    margin: 0;
    font-size: 4em;
}
.header #typed{
    height: 24px;
}







.lower .md-4 .tab{
    position: relative;
    margin: 10px auto;
    height: 180px;
    width: 180px;
    text-align: center;
}
.lower .md-4 .tab img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid;
}

.lower .md-4 .tab .details{
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    transition: 0.5s;
    transform-origin: bottom;
    transform: translateY(-100px)rotateX(90deg);

}
.lower .md-4 .tab:hover .details{
    transform: translateY(0)rotateX(0deg);
    border-radius: 50%;
    border: 1px solid;
    box-shadow: 0 0 10px #000;
    cursor: pointer;
}
.lower .md-4 .tab .details h3 {
    padding: 60px 0;
    color: white;
    font-family:cursive;
    border-radius: 50%;
}



/* INSTA */
#insta .md-2 .mar-md-11:hover{
    box-shadow: 0 0 20px #000;
}
/* INSTA OVER */



/* Logo & Header */

.upper .imgdiv{
    margin: auto 0;
}
.upper .imgdiv img{
    /*padding: 20px 0;*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.upper #typed{
    height: 24px;
}

.form-group{
    width: 100%;
    margin-top: 10px;
}
.form-label{
    font-weight: bold;
}

/**/
/*contact_content .q-table tr td big a{
    color: aqua;
}*/
/**/







@media only screen and (max-width: 1200px){
    .container{
        width: 100%;
    }
}
@media only screen and (max-width: 800px){
    .container{
        width: 100%;
    }
    .menu ul li{
        width: 50%;
    }
}
@media only screen and (max-width: 500px){
    body{
    }
    .container{
        width: 100%;
    }
    #menu{
        display: none;
    }
    #menu-btn{
        display: block;
        position: fixed;
        margin: 300px 20px;
        width: 60px;
        background: gray;
        padding: 2px 3px;
        border-radius: 8px;
    }
    #menu-btn span{
        float: left;
        width: 100%;
        margin: 2px 0;
        height: 2px;
        border: none;
        border-top: 3px solid;
        border-bottom: 5px solid;
        border-radius: 3px;
    }
    .menu ul li{
        width: 100%;
    }
}












